@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .max-container {
    max-width: 1280px; /* Updated container width for better responsiveness */
    margin: 0 auto;
  }

  .input {
    @apply flex-1 w-full text-base leading-normal text-slate-gray pl-5 p-5 outline-none border border-slate-gray rounded-full;
  }
}

@layer utilities {
  .padding {
    @apply px-4 py-8 md:px-8 md:py-12;
  }

  .padding-x {
    @apply px-4 md:px-8;
  }

  .padding-y {
    @apply py-8 md:py-12;
  }

  .padding-l {
    @apply pl-4 md:pl-8;
  }

  .padding-r {
    @apply pr-4 md:pr-8;
  }

  .padding-t {
    @apply pt-8 md:pt-12;
  }

  .padding-b {
    @apply pb-8 md:pb-12;
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-base leading-6;
  }

  .underline-link {
    position: relative;
    text-decoration: none;
    color: #4a4a4a;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem; /* text-lg */
    display: inline-block;
  }

  .underline-link::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #4a4a4a;
    transition: width 0.3s ease-in-out;
  }

  .underline-link:hover::before {
    width: 100%;
  }
}

/* Custom media queries for better responsiveness */
@media (max-width: 1024px) {
  .padding-x {
    @apply px-4;
  }
  .padding-y {
    @apply py-8;
  }
  .padding-t {
    @apply pt-8;
  }
  .padding-b {
    @apply pb-8;
  }
}

@media (max-width: 768px) {
  .padding-x {
    @apply px-2;
  }
  .padding-y {
    @apply py-4;
  }
  .padding-t {
    @apply pt-4;
  }
  .padding-b {
    @apply pb-4;
  }
}
